<%- include("partials/header") %>


<nav class="navbar navbar-expand-lg fixed-top navbar-light coli pd-tb">
  <a class="navbar-brand navbar-brandadd" href="#"><b>PORTFOLIO</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto" id="top-menu">
        <li><a class="nav-item links" href="#">HOME</a></li>
        <li><a class="nav-item links" href="#about">ABOUT</a></li>
        <li><a class="nav-item links" href="#services">SERVICES</a></li>
        <li><a class="nav-item links" href="#works">WORKS</a> </li>
        <li><a class="nav-item links" href="#blog">BLOG</a></li>
        <li><a class="nav-item links" href="#contact">CONTACT</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumboimg">
    
    <div class="pad">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        
        
            <a href="#about"><div class="arrow bounce" href=""></div></a>
        
    </div>
</div>
<!-- about -->
<section>
    <div id="about" class="container"  >
        <div class="row">
            <div class="col-12 col-md-5 tekst">
                <img class="img-fluid imgsize3 box" src="https://images.pexels.com/photos/1043473/pexels-photo-1043473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </div>
            <div class="col-12 col-md-6">
                <h1>ABOUT ME</h1>
                <h4>UI/UX Designer & Web Developer</h4>
                <p maxlength="10">I'm Kalvin Doe Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.

It is a long established fact that a rea Lorem Ipsum mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.

It is a long established fact that a re Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.

It is a long established fact that a re distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
             <a class="btn btn-outline-dark" href="https://www.coolfreecv.com/doc/coolfreecv_resume_en_01.doc" download>DOWNLOAD
        </a>
            </div>
        </div>
       
    </div>
</section>

<!-- services -->
<section>
    <div class="bg2">
    <div  id="services" class="container tekst ptta">
        <h5>Services</h5>
        <h2 class="imgsize">WHAT I CAN DO</h2>
        <div class="row">
            <div class="col-12 col-md-4 pb4">
                <i class="material-icons imgsize icon">settings_input_composite</i>
                <h5>WEB DESIGN</h5></h5>
                <p>Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.</p>
            </div>
            <div class="col-12 col-md-4 pb4">
                <i class="material-icons imgsize icon">vertical_split</i>
                <h5>WEB DEVELOPMENT</h5></h5>
                <p>Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.</p>
            </div>
            <div class="col-12 col-md-4 pb4">
                <i class="material-icons imgsize icon">high_quality</i>
                <h5>RESPONSIVE DESIGN</h5></h5>
                <p>Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.</p>
            </div>
            <div class="col-12 col-md-4 pb4">
                <i class="material-icons imgsize icon">stay_current_portrait</i>
                <h5>BRANDING IDENTITY</h5></h5>
                <p>Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.</p>
            </div>
            <div class="col-12 col-md-4 pb4">
                <i class="material-icons imgsize icon">attach_file</i>
                <h5>CREATIVE DESIGN</h5></h5>
                <p>Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.</p>
            </div>
            <div class="col-12 col-md-4 pb4">
                <i class="material-icons imgsize icon"> build</i>
                <h5>SUPPORT</h5></h5>
                <p>Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.</p>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- przerywnik-->

<section >
    <div class="przer">
    <div id="przer"  class="container pb7"  >
        <div class="row tekst p-auto">
            <div class="col-12 col-md-6 col-lg-3">
                <i class="material-icons icon2">people</i>
                <h6 class="counter num">420</h6>
                <p>Happy Clients</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <i class="material-icons icon2">done</i>
                <h6><b><span class="counter num">900</span></b></h6>
                <p>Projects Completed</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <i class="material-icons icon2">code</i>
                <h6><b><span class="counter num">1000</span></b></h6>
                <p>Lines Of Code</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <i class="material-icons icon2">android</i>
                <h6><b><span class="counter num" >102</span></b></h6>
                <p>Awards Achieved</p>
                
            </div>
        </div>
    </div>
    </div>
</section>

<!-- portfolio -->

<section>
    <div class="photo-gallery imageGallery1">
    <div id="works" class="container ptta imgsize" >
        
        <h5>Portfolio</h5>
        <h2 class="imgsize">WORK I HAVE DONE</h2>
        <div class="row photos">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="imgsize">
                <div class="img-hover-zoom img-hover-zoom--brightness ">
                <a href="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" data-lightbox="photos">
                    <img class="img-fluid" src="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                </a>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="imgsize">
                <div class="img-hover-zoom img-hover-zoom--brightness ">
                <a href="https://images.pexels.com/photos/4316/technology-computer-chips-gigabyte.jpg?cs=srgb&dl=personal-computer-motherboard-4316.jpg&fm=jpg" data-lightbox="photos">
                    <img class="img-fluid" src="https://images.pexels.com/photos/4316/technology-computer-chips-gigabyte.jpg?cs=srgb&dl=personal-computer-motherboard-4316.jpg&fm=jpg">
                </a>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="imgsize">
                <div class="img-hover-zoom img-hover-zoom--brightness ">
                <a href="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" data-lightbox="photos">
                    <img class="img-fluid" src="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                </a>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="imgsize">
                <div class="img-hover-zoom img-hover-zoom--brightness ">
                <a href="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" data-lightbox="photos">
                    <img class="img-fluid" src="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                </a>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="imgsize">
                <div class="img-hover-zoom img-hover-zoom--brightness ">
                <a href="https://images.pexels.com/photos/4316/technology-computer-chips-gigabyte.jpg?cs=srgb&dl=personal-computer-motherboard-4316.jpg&fm=jpg" data-lightbox="photos">
                    <img class="img-fluid" src="https://images.pexels.com/photos/4316/technology-computer-chips-gigabyte.jpg?cs=srgb&dl=personal-computer-motherboard-4316.jpg&fm=jpg">
                </a>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="imgsize">
                <div class="img-hover-zoom img-hover-zoom--brightness ">
                <a href="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" data-lightbox="photos">
                    <img class="img-fluid" src="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                </a>
                </div>
                </div>
            </div>
            
        </div>
    </div>
       
    </div>
</section>


<!-- blog -->
<section>
    <div class="bg2">
        <div id="blog" class="container ptta pb" >
            <h5>Blog</h5>
            <h2 class="imgsize">LATEST POSTS</h2>
            
            <div class="row autoplay">
                <% blog.forEach(function(post){ %>
                    <div class="blogpad bgwhite">
                        
                            <div class="img-hover-zoom img-hover-zoom--brightness2">
                                <a href="/blog/<%= post._id %>">
                                <img src="<%= post.image%>" class="imgres" alt="...">
                                </a>
                            </div>
                                    <div class="mgblog">
                                        <h5 class=""><%= post.title%></h5>
                                        <p class=""><%= post.desc.substring(0,200) %>...</p>
                                    </div>
                             <a href="/blog/<%= post._id %>" class="btn float-left" type="button">Read more</a>

                    </div>
                <% }) %>
            </div>
            <a href="/blog"  class="btn btn-outline-dark mt10" >View more</a>
        </div>
    </div>
</section>



<!-- contact -->
<section>
 
    <div id="contact" class="container ptta imgsize formsize">
        <h5>CONTACT</h5>
        <h2>GET IN TOUCH</h2>
        <form action="/" method="POST">
          <div class="row pt10">
            <div class="col">
              <input name="name" type="text" class="form-control inputborder" placeholder="Name" >
            </div>
            <div class="col">
              <input name="email" type="email" class="form-control inputborder" placeholder="Email">
            </div>
          </div>
          <div class="form-group mt10">
            <textarea name="message" class="form-control inputborder"  rows="6" placeholder="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark mt10">SEND MESSAGE</button>
        </form>
    </div>
</section>

<%- include("partials/footer") %>